<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h3>Layouts</h3>

  <ul>
    <li><a href="semantic.html">semantic</a></li>
    <li><a href="block-model.html">block model</a></li>
    <li><a href=""></a></li>
  </ul>
</div>