<%- include('elements/head', {title: 'Piece of Code'}); %>

<%- include('elements/header'); %>

<%- include('elements/navigation'); %>

<h3>Piece of Code = Ctrl+c and Ctrl+v</h3>
<p>This site ideology is useful library of solving problem</p>

<%- include('elements/footer'); %>