<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Piece of code</title>
</head>

<body>
<h1><a href="/index.html">PieceOfCode</a></h1>

<style>
  table,
  td,
  th {
    border: 1px solid chocolate;
    border-collapse: collapse;
    padding: 10px;
  }

  tr:nth-child(even) {
    background: #ddd;
  }
</style>

<div class="container">

  <h4>Semantic</h4>
  <table>
    <thead>
      <tr>
        <th width="20%">Тег</th>
        <th width="80%">Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&lt;article&gt;</td>
        <td>Определяет статью</td>
      </tr>
      <tr class="even">
        <td>&lt;aside&gt;</td>
        <td>Определяет блок сбоку от основного контента</td>
      </tr>
      <tr class="odd">
        <td>&lt;details&gt;</td>
        <td>Определяет дополнительную информацию, которую пользователь может открывать или закрывать</td>
      </tr>
      <tr class="even">
        <td>&lt;summary&gt;</td>
        <td>Определяет видимый заголовок элемента &lt;details&gt;</td>
      </tr>
      <tr class="even">
        <td>&lt;figcaption&gt;</td>
        <td>Определяет пояснение для элемента &lt;figure&gt;</td>
      </tr>
      <tr class="odd">
        <td>&lt;figure&gt;</td>
        <td>Используется для группирования различных самодостаточных элементов - иллюстраций, диаграмм, фотографий,
          листингов кода и т.д.</td>
      </tr>
      <tr class="even">
        <td>&lt;footer&gt;</td>
        <td>Определяет "подвал" документа или раздела</td>
      </tr>
      <tr class="odd">
        <td>&lt;header&gt;</td>
        <td>Определяет "шапку" документа или раздела</td>
      </tr>
      <tr class="even">
        <td>&lt;main&gt;</td>
        <td>Определяет основной контент документа</td>
      </tr>
      <tr class="odd">
        <td>&lt;mark&gt;</td>
        <td>Определяет маркированный/подсвеченный текст</td>
      </tr>
      <tr class="even">
        <td>&lt;nav&gt;</td>
        <td>Определяет блок навигационных ссылок</td>
      </tr>
      <tr class="odd">
        <td>&lt;section&gt;</td>
        <td>Определяет раздел в документе</td>
      </tr>
      <tr class="odd">
        <td>&lt;time&gt;</td>
        <td>Определяет дату/время</td>
      </tr>
    </tbody>
  </table>
</div>