<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h4>Palindrome</h4>

  <ul>
    <li><a href="#first">first</a></li>
    <li><a href="#optimization">optimization</a></li>
  </ul>

  <h4 id="first">first</h4>
  <p class="codepen" data-height="348" data-theme-id="dark" data-default-tab="js,result" data-user="sergeyfrolenko-git"
    data-slug-hash="yLONRXN"
    style="height: 348px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="hh-js-palindrome">
    <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/yLONRXN">
        hh-js-palindrome</a> by sergeyfrolenko (<a href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

  <section id="optimization">
    <h4>optimization</h4>
    <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="js,result"
      data-user="sergeyfrolenko-git" data-slug-hash="ExKjdrw"
      style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="hh-js-palindrome-2">
      <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/ExKjdrw">
          hh-js-palindrome-2</a> by sergeyfrolenko (<a
          href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </section>
</div>