<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h3>Interactive</h3>

  <ul>
    <li><a href="interactive-vue-dudar.html">interactive vue by Dudar</a></li>
    <li><a href="interactive-vue-minin.html">interactive vue by Minin</a></li>
    <li><a href="interactive-vue-dka.html">interactive vue by DKA Develop</a></li>
  </ul>

  <p>All info on vuejs.org</p>
</div>