<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h4>Dudar</h4>

  <p class="codepen" data-height="1047" data-theme-id="dark" data-default-tab="html,result"
    data-user="sergeyfrolenko-git" data-slug-hash="MWyyBvK"
    style="height: 1047px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="interactive-vue-dudar">
    <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/MWyyBvK">
        interactive-vue-dudar</a> by sergeyfrolenko (<a
        href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>