<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h3>DKA Develop</h3>

  <ul>
    <li><a href="#intro">introduction</a></li>
  </ul>

  <section>
    <h4>Introduction</h4>
    <p>
      Vue (произносится /vjuː/, примерно как view) — это прогрессивный фреймворк для создания пользовательских
      интерфейсов.
    </p>
    <p>
      Декларативная отрисовка
    <p class="codepen" data-height="360" data-theme-id="dark" data-default-tab="js,result"
      data-user="sergeyfrolenko-git" data-slug-hash="GRZqdGR"
      style="height: 360px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="interactive-vue-intro">
      <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/GRZqdGR">
          interactive-vue-intro</a> by sergeyfrolenko (<a
          href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </p>
    <p>
      Атрибут v-bind, называется директивой. Директивы имеют префикс v-, указывающий на их особую природу. Как вы уже
      могли догадаться, они добавляют к отображаемому DOM особое реактивное поведение, управляемое Vue.
    </p>
    <p>v-show save element in DOM</p>
  </section>
</div>