include elements/header
include elements/navigation


h3 Ошибки при верстке
ol.collection
  li.collection-item соблюдайте семантику 
  li.collection-item логичное использование margin/padding
  li.collection-item не указывайте высоту для текстовых блоков
  li.collection-item контроль line-height:1.2; для элементов с большим шрифтом
  li.collection-item адаптировать картинки width and height
  li.collection-item font-family: inherit; font-size: inherit; для наследования от body
  li.collection-item textarea resize:none;
  li.collection-item input :focus стилизация
  li.collection-item стилизация в css с помощью псевдоэлементов