<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">

  <ul>
    <li><a href="#easy">easy</a></li>
    <li><a href="#meddium">meddium</a></li>
    <li><a href="#hard">hard</a></li>
    <li><a href="#art">art</a></li>
  </ul>

  <h4 id="easy">easy</h4>
  <p class="codepen" data-height="404" data-theme-id="dark" data-default-tab="html,result"
    data-user="sergeyfrolenko-git" data-slug-hash="XWdbrmj"
    style="height: 404px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="elements-tables-easy">
    <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/XWdbrmj">
        elements-tables-easy</a> by sergeyfrolenko (<a
        href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

</div>