<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Piece of code</title>
</head>

<body>
<h1><a href="/index.html">PieceOfCode</a></h1>

<div class="container">
  <h3>Article</h3>
  <ul>
    <li><a href="#simple">simple</a></li>
  </ul>

  <section id="simple">
    <h4>Simple</h4>
    <p class="codepen" data-height="595" data-theme-id="dark" data-default-tab="html,result"
      data-user="sergeyfrolenko-git" data-slug-hash="GRZJBRb"
      style="height: 595px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="components-article-simple">
      <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/GRZJBRb">
          components-article-simple</a> by sergeyfrolenko (<a
          href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </section>


</div>