<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Piece of code</title>
</head>

<body>
<h1><a href="/index.html">PieceOfCode</a></h1>

<div class="container">
  <h3>Search</h3>
  <ul>
    <li><a href="#easy">easy</a></li>
    <li><a href="#medium">medium</a></li>
  </ul>

  <h4 id="easy">easy</h4>
  <p class="codepen" data-height="203" data-theme-id="dark" data-default-tab="html,result"
    data-user="sergeyfrolenko-git" data-slug-hash="jOqPQMy"
    style="height: 203px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="components-search-easy">
    <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/jOqPQMy">
        components-search-easy</a> by sergeyfrolenko (<a
        href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

  <h4 id="medium">medium</h4>
  <p class="codepen" data-height="812" data-theme-id="dark" data-default-tab="css,result" data-user="sergeyfrolenko-git"
    data-slug-hash="poyJQRP"
    style="height: 812px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="components-search-medium">
    <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/poyJQRP">
        components-search-medium</a> by sergeyfrolenko (<a
        href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>