<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h3>Components</h3>

  <ul>
    <li><a href="article.html">article</a></li>
    <li><a href="search.html">search</a></li>
    <li><a href="menu.html">menu</a></li>
  </ul>

</div>