<%- include('../piece/head'); %>
<%- include('../piece/header'); %>

<div class="container">
  <h3>Menu</h3>
  <ul>
    <li><a href="#easy">easy</a></li>
    <li><a href="#easy2-drop">easy2-drop</a></li>
    <li><a href="#medium">medium</a></li>
  </ul>

  <section id="easy">
    <h4>Easy</h4>
    <p class="codepen" data-height="241" data-theme-id="dark" data-default-tab="html,result"
      data-user="sergeyfrolenko-git" data-slug-hash="jOqPQwB"
      style="height: 241px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="components-menu-easy">
      <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/jOqPQwB">
          components-menu-easy</a> by sergeyfrolenko (<a
          href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </section>

  <section id="easy2-drop">
    <h4>Easy2 dropdown</h4>
    <p class="codepen" data-height="606" data-theme-id="dark" data-default-tab="html,result"
      data-user="sergeyfrolenko-git" data-slug-hash="VwaLVrJ"
      style="height: 606px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="components-menu-easy2-drop">
      <span>See the Pen <a href="https://codepen.io/sergeyfrolenko-git/pen/VwaLVrJ">
          components-menu-easy2-drop</a> by sergeyfrolenko (<a
          href="https://codepen.io/sergeyfrolenko-git">@sergeyfrolenko-git</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </section>
</div>